.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.contactTitle {
    color: #CA9F70;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contactTitle:hover {
    color: #8e6c50;
    transform: scale(1.1);
}

.description {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.contactLink {
    color: #CA9F70;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.contactLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #CA9F70;
    transition: width 0.3s ease-in-out;
}

.contactLink:hover {
    color: #8e6c50;
}

.contactLink:hover::after {
    width: 100%;
}

.aboutSection {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutText {
    flex: 1 1 50%;
}

.aboutImage {
    flex: 1 1 40%;
    text-align: center;
}

.image {
    max-width: 100%;
    border-radius: 10px;
}

.passionSection,
.contactSection,
.socialMediaSection {
    text-align: center;
    border-radius: 10px;
}

.passionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.passionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMediaList {
    display: inline;
    list-style-type: none;
    text-decoration: none;
}

.socialMedia a {
    color: #CA9F70;
    text-decoration: none;
}

.socialMedia a:hover {
    color: #a78258;
}

@media (max-width: 768px) {
    .aboutSection {
        flex-direction: column;
        align-items: center;
    }

    .aboutText,
    .aboutImage {
        flex: 1 1 100%;
    }

    .title {
        font-size: 2rem;
    }

    .contactTitle {
        font-size: 2rem;
    }

    .description {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .aboutContainer {
        padding: 1rem;
        margin: 0 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .contactTitle {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .aboutSection {
        gap: 1rem;
    }
}